{% set route = app.request.attributes.get('route') %}
{% set slugs = app.request.attributes.get('slug')  %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
	<div class="container">
		{% if app.user %}
			<a class="navbar-brand" href="{{ path('home_admin') }}">myVideoPlayer</a>
		{% else %}
			<a class="navbar-brand" href="{{ path('home') }}">myVideoPlayer</a>
		{% endif %}
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link {% if route== 'home_admin' %}active{% endif %}" href="{{ path('home_admin') }}">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if route matches '{^category}' %}active{% endif %}" href="{{ path('category_index') }}">Catégories</a>
					</li>
					{% if categories|length > 0 %}
						<li class="nav-item">
							<a class="nav-link {% if route matches '{^video}' %}active{% endif %}" href="{{ path('video_index') }}">Vidéos</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link {% if route matches '{^user}' %}active{% endif %}" href="{{ path('user_index') }}">Utilisateurs</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link {% if route == 'home' %}active{% endif %}" href="{{ path('home') }}">Accueil</a>
					</li>
					{% for category in categories|slice(0, max) %}
						{% if (slugs) %}
							{% for key, slug in slugs %}
								<li class="nav-item">
									<a class="nav-link {% if (route == 'category_show') and (category.slug == slug) %}active{% endif %}" href="{{ path('category_show', { 'slug' : category.slug }) }}">{{ category.name }}</a>
								</li>
							{% endfor %}
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('category_show', { 'slug' : category.slug }) }}">{{ category.name }}</a>
							</li>
						{% endif %}
					{% endfor %}
					{% if categories|length > max %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Autres
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								{% for category in categories|slice(max, categories|length) %}
									<li>
										<a class="dropdown-item" href="{{ path('category_show', { 'slug' : category.slug }) }}">{{ category.name }}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endif %}
					{% endif%}
				</ul>
				{% if app.user %}
					<a class="btn btn-danger" href="{{ path('app_logout')}}">Déconnexion</a>
				{% else %}
					<a class="btn btn-secondary" href="{{ path('app_login')}}">Connexion</a>
					{% endif%}
				</div>
			</div>
		</nav>
