{% extends 'base.html.twig' %}

{% block title %}myVideoPlayer || Accueil
{% endblock %}

{% block body %}
	<div class="d-grid gap-3">

		<div class="text-center pt-3 pb-3 border-bottom">
			<h1>Tableau de Bord</h1>
		</div>

		<div class="row d-flex justify-content-center pt-4 pb-5 border-bottom">
			<div class="col-lg-4 col-sm-6">
				<div class="card bg-success bg-gradient text-center text-white p-2 rounded-lg shadow">
					<div class="card-header">
						<h3 class="card-title">Catégories</h3>
					</div>
					<div class="card-body d-flex justify-content-evenly align-items-center">
						<div class="d-flex justify-content-around align-items-center">
							<p class="m-0">Total :
							</p>
							<h4 class="m-1 display-5">{{categories|length}}</h4>
						</div>
						<span class="d-flex display-5 opacity-5">
							<i class="fas fa-list text-white"></i>
						</span>
					</div>
					<div class="card-footer text-muted">
						<a type="button" href="{{ path('category_index') }}" class="btn btn-primary">
							Plus d'informations
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="card bg-danger bg-gradient text-center text-white p-2 rounded-lg shadow">
					<div class="card-header">
						<h3 class="card-title">Vidéos</h3>
					</div>
					<div class="card-body d-flex justify-content-evenly align-items-center">
						<div class="d-flex justify-content-around align-items-center">
							<p class="m-0">Total :
							</p>
							<h4 class="m-1 display-5">{{videos|length}}</h4>
						</div>
						<span class="d-flex display-5 opacity-5">
							<i class="fas fa-film text-white"></i>
						</span>
					</div>
					<div class="card-footer text-muted">
						<a type="button" href="{{ path('video_index') }}" class="btn btn-primary">
							Plus d'informations
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="card bg-secondary bg-gradient text-center text-white p-2 rounded-lg shadow">
					<div class="card-header">
						<h3 class="card-title">Utilisateurs</h3>
					</div>
					<div class="card-body d-flex justify-content-evenly align-items-center">
						<div class="d-flex justify-content-around align-items-center">
							<p class="m-0">Total :
							</p>
							<h4 class="m-1 display-5">{{users|length}}</h4>
						</div>
						<span class="d-flex display-5 opacity-5">
							<i class="fas fa-users text-white"></i>
						</span>
					</div>
					<div class="card-footer text-muted">
						<a type="button" href="{{ path('user_index') }}" class="btn btn-primary">
							Plus d'informations
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center pt-3 pb-3">
			<h2>Nombre de vidéos par catégorie :
			</h2>
		</div>

		<div class="row pt-3 pb-3 border-bottom d-flex justify-content-center">
			{% for category in categories%}

				<div class="col-xl-3 col-lg-6 mb-4">
					<div class="bg-white rounded-lg p-5 shadow">
						<h2 class="font-weight-bold text-center mb-1">{{category.name|capitalize}}</h2>
						<h4 class="text-center mb-4">{{category.videos|length}}
							{% if category.videos|length > 1 %}
								vidéos
							{% else %}
								vidéo
							{% endif %}
						</h4>
						<div class="progress mx-auto" data-value='{{(category.videos|length*100)/videos|length}}'>

							<div class="progress-bar" role="progressbar" style="width: {{(category.videos|length*100)/videos|length}}%;" aria-valuenow="{{(category.videos|length*100)/videos|length}}" aria-valuemin="0" aria-valuemax="100">{{(category.videos|length*100)/videos|length}}%</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>


	{% endblock %}
