{% extends 'base.html.twig' %}

{% block title %}myVideoPlayer || Liste des catégories
{% endblock %}

{% block body %}
	<div class="d-grid gap-3">
		<div class="row text-center pt-3 pb-3 border-bottom bg-secondary text-white shadow">
			<h2>Gestion des Catégories</h2>
		</div>
		<div class="row text-center pt-3 pb-3 border-bottom">
			<h3 class="pb-2 text-decoration-underline">Ajouter une catégorie :
			</h3>
			<a class="btn btn-primary col-1 mx-auto rounded-lg shadow" href="{{ path('category_new') }}">
				<i class="fas fa-plus text-white fa-lg"></i>
			</a>
		</div>
		<div class="row text-center pt-3 pb-3">
			<h3 class="pb-2 text-decoration-underline">Liste des Catégories :
			</h3>
			<div class="d-flex justify-content-center">
				{% for category in categories %}
					<div class="card col-lg-4 cold-md-6 col-sm-12 bg-dark text-white m-2 p-2 rounded-lg shadow">
						<img src="{{ vich_uploader_asset(category) }}" class="card-img d-flex justify-content-center align-items-center" alt="{{ category.name }}" height="200">
						<div class="card-img-overlay d-flex flex-column justify-content-evenly">
							<h3 class="card-title bg-dark d-flex justify-content-center p-2">{{ category.name|upper }}</h5>
							<div class="d-flex justify-content-evenly">
								<a href="{{ path('category_edit', {'slug': category.slug}) }}" class="card-link btn btn-success" type="button">Modifier</a>
								{{ include('category/_delete_form.html.twig') }}
							</div>
						</div>
					</div>
				{% else %}
					<div class="col-12">
						<p>Aucune catégorie</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
