{% extends 'base.html.twig' %}

{% block title %}myVideoPlayer || Liste des catégories
{% endblock %}

{% block body %}
	<div class="d-grid gap-3">
		<div class="row p2 mx-auto">
			<h1>Liste des Catégories</h1>
		</div>
		<div class="row p2">
			<h2>Ajouter une catégorie</h2>
			<a class="btn btn-primary col-2 mx-auto" href="{{ path('category_new') }}">Ajouter une catégorie</a>
		</div>
		<div class="row p2">
			<h2>Catégorie</h2>
			{% for category in categories %}
				<div class="card col-lg-4 cold-md-6 col-sm-12 bg-dark text-white m-2 p-2">
					<img src="{{ category.picture }}" class="card-img d-flex justify-content-center align-items-center" alt="{{ category.name }}" height="200">
					<div class="card-img-overlay d-flex flex-column justify-content-evenly">
						<h3 class="card-title d-flex justify-content-center">{{ category.name|upper }}</h5>
						<div class="d-flex justify-content-evenly">
							<a href="{{ path('category_edit', {'id': category.id}) }}" class="card-link btn btn-success" type="button">Modifier</a>
							{{ include('category/_delete_form.html.twig') }}
						</div>
					</div>
				</div>
			{% else %}
				<div class="col-12">
					<p>Aucune catégorie</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
