{% extends 'base.html.twig' %}

{% block title %}myVideoPlayer || Liste des catégories
{% endblock %}

{% block body %}
	<div class="d-grid gap-3">
		<div class="row text-center pt-3 pb-3 border-bottom bg-secondary text-white shadow">
			<h2>Gestion des Catégories</h2>
		</div>
		<div class="row text-center pt-3 pb-3 border-bottom">
			<h3 class="pb-2 text-decoration-underline">Ajouter une catégorie :
			</h3>
			<a class="btn btn-primary col-1 mx-auto rounded-lg shadow" href="{{ path('category_new') }}">
				<i class="fas fa-plus text-white fa-lg"></i>
			</a>
		</div>
		<div class="row text-center pt-3 pb-3">
			<h3 class="pb-2 text-decoration-underline">Liste des Catégories :
			</h3>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nom</th>
						<th scope="col">Position</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for category in categories %}
						<tr>
							<td>
								{{ category.name }}
							</td>
							<td>
								{{ category.position }}
							</td>
							<td class="d-flex justify-content-evenly">
								<a class="btn" href="{{ path('category_edit', {'slug': category.slug}) }}">
									<i class="fas fa-edit fa-lg text-success"></i>
								</a>
								<a class="btn js-delete" href="{{ path('category_delete', {'slug': category.slug}) }}">
									<i class="fas fa-trash fa-lg text-danger"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td>Aucune catégorie</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/category-delete.js"></script>
	<script src="/js/alert-animation.js"></script>
{% endblock %}
