{% extends 'base.html.twig' %}

{% block title %}myVideoPlayer || Toutes les vidéos de la catégorie
	{{ category.name }}
{% endblock %}

{% block body %}
	<div class="row p-2 mb-3">
		<div class="col-12 text-center text-white bg-dark pt-2 pb-2">
			<h1>{{ category.name|upper }}</h1>
			<img class="rounded-circle" src="{{ vich_uploader_asset(category) }}" alt="{{ category.name }}" width="300px">
		</div>
	</div>
	{% if videos|length > 1 %}
		<div class="row text-center pt-3 pb-3">
			<h3 class="pb-2 text-decoration-underline">Rechercher :
			</h3>
			<div class="row mt-2 mb-4">
				{{ form_start(formVideo) }}
				<div class="my-custom-class-for-errors">
					{{ form_errors(formVideo) }}
				</div>
				<div class="row g-3 align-items-center">
					<div class="col-lg-2 col-sm-12">
						{{ form_label(formVideo.search,'Rechercher  : ', {'attr': {'class': 'form-label'}}) }}
					</div>
					<div class="col-lg-8 col-sm-10">
						{{ form_widget(formVideo.search, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
				{{ form_end(formVideo) }}
			</div>
		</div>
	{% endif %}
	<div id="videos-category" class="row p2 mb-3">
		<h2>
			{% if videos|length == 0 %}
				Aucune vidéo
			{% elseif videos|length > 1 %}
				{{videos|length}}
				vidéos :
			{% else %}
				{{videos|length}}
				vidéo :
			{% endif %}
		</h2>
		{% if videos|length > 0 %}
			<div class="row row-cols-1 row-cols-md-3 g-2">
				{% for video in videos %}
					<div class="col">
						<div class="card shadow p-3 mb-5 bg-white rounded">
							<a href="{{ path('video_show', {'slug': video.slug}) }}">
								<img src="{{ video.url|video_thumbnail}}" height="222" class="card-img-top" alt="{{ video.title }}">
							</a>
							<div class="card-body">
								<h5 class="card-title" style="height: 48px;">{{ video.title|u.truncate(65, '...', false) }}</h5>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="d-flex justify-content-end mb-3">
		{{ knp_pagination_render(videos) }}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="/js/category-video-search.js"></script>
{% endblock %}
