{% extends 'base.html.twig' %}

{% block title %}Video index
{% endblock %}

{% block body %}
	<div class="d-grid gap-3">
		<div class="row p2 mx-auto">
			<h1>Liste des vidéos</h1>
		</div>
		<div class="row p2">
			<h2>Ajouter une vidéo :
			</h2>
			<a class="btn btn-primary col-2 mx-auto" href="{{ path('video_new') }}">Ajouter une vidéo</a>
		</div>
		<div class="row p2">
			<h2>Vidéos :
			</h2>
			<div class="row row-cols-1 row-cols-md-2 g-4">
				{% for video in videos %}
					<div class="col">
						<div class="card shadow p-3 mb-5 bg-white rounded">
							<img src="{{ video.url|video_thumbnail}}" class="card-img-top" alt="{{ video.name }}">
							<div class="card-body">
								<h5 class="card-title">{{ video.name }}
									<span class="badge bg-warning text-dark">{{video.category.name|upper}}</span>
								</h5>
								<div class="d-flex justify-content-evenly">
									<a href="{{ path('video_edit', {'slug': video.slug}) }}" class="card-link btn btn-success" type="button">Modifier</a>
									{{ include('video/_delete_form.html.twig') }}
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class="col">
						<p>Aucune vidéo</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
