{% extends 'base.html.twig' %}

{% block title %}myVideoPlayer || Liste des Vidéos
{% endblock %}

{% block body %}
	<div class="d-grid gap-3">
		<div class="row text-center pt-3 pb-3 border-bottom bg-secondary text-white shadow">
			<h2>Gestion des vidéos</h2>
		</div>
		<div class="row text-center pt-3 pb-3 border-bottom">
			<h3 class="pb-2 text-decoration-underline">Ajouter une vidéo :
			</h3>
			<a class="btn btn-primary col-1 mx-auto rounded-lg shadow" href="{{ path('video_new') }}">
				<i class="fas fa-plus text-white fa-lg"></i>
			</a>
		</div>
		<div class="row text-center pt-3 pb-3">
			<h3 class="pb-2 text-decoration-underline">Liste des vidéos :
			</h3>
			<div class="row mt-2 mb-4">
				{{ form_start(formVideo) }}
				<div class="my-custom-class-for-errors">
					{{ form_errors(formVideo) }}
				</div>
				<div class="row g-3 align-items-center">
					<div class="col-lg-2 col-sm-12">
						{{ form_label(formVideo.search,'Rechercher  : ', {'attr': {'class': 'form-label'}}) }}
					</div>
					<div class="col-lg-8 col-sm-10">
						{{ form_widget(formVideo.search, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
				{{ form_end(formVideo) }}
			</div>
			<table class="table">
				<thead class="table-secondary">
					<tr>
						<th scope="col">Titre</th>
						<th scope="col">Catégorie</th>
						<th scope="col">Auteur</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody id="table-video">
					{% for video in videos %}
						<tr>
							<td>{{video.name}}</td>
							<td>{{video.category.name}}</td>
							<td>{{video.author}}</td>
							<td class="d-flex justify-content-evenly">
								<a class="btn" href="{{ path('video_edit', {'slug': video.slug}) }}">
									<i class="fas fa-edit fa-lg text-success"></i>
								</a>
								<a class="btn js-delete" href="{{ path('video_delete', {'slug': video.slug}) }}">
									<i class="fas fa-trash fa-lg text-danger"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td>Aucune vidéo</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/video-search.js"></script>
	<script src="/js/video-delete.js"></script>
{% endblock %}
