{% extends 'base.html.twig' %}

{% block title %}myVideoPlayer || Voir
	{{ video.name }}
{% endblock %}

{% block body %}
	<h2>{{ video.name }}</h1>
	<div>de
		<a href="{{ video.linkAuthor}}" title="Voir le site de {{ video.author}}" target="_blank">
			{{ video.author}}
		</a>
	</div>
	<div>{{ video.url|video_player|raw}}</div>
{% endblock %}
