{% extends 'base.html.twig' %}

{% block title %}myVideoPlayer || Liste des Utilisateurs
{% endblock %}

{% block body %}
	<div class="d-grid gap-3">
		<div class="row text-center pt-3 pb-3 border-bottom bg-secondary text-white shadow">
			<h2>Gestion des Utilisateurs</h2>
		</div>
		<div class="row text-center pt-3 pb-3 border-bottom">
			<h3 class="pb-2 text-decoration-underline">Ajouter un utilisateur :
			</h3>
			<a class="btn btn-primary col-1 mx-auto rounded-lg shadow" href="{{ path('user_new') }}">
				<i class="fas fa-plus text-white fa-lg"></i>
			</a>
		</div>
		<div class="row text-center pt-3 pb-3">
			<h3 class="pb-2 text-decoration-underline">Liste des Utilisateurs :
			</h3>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">Utilisateur</th>
						<th scope="col">Email</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>
								{{ user.username|capitalize }}
							</td>
							<td>
								{{user.email}}
							</td>
							<td class="d-flex justify-content-evenly">
								<a class="btn" href="{{ path('user_edit', {'id': user.id}) }}">
									<i class="fas fa-user-edit fa-lg text-success"></i>
								</a>
								{% if not (user.email == urlAdmin) %}
									{{ include('user/_delete_form.html.twig') }}
								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td>Aucun utilisateur</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
