{% extends 'base.html.twig' %}

{% block title %}myVideoPlayer || Liste des Utilisateurs
{% endblock %}

{% block body %}
	<div class="d-grid gap-3">
		<div class="row p2 mx-auto">
			<h1>Liste des Utilisateurs</h1>
		</div>
		<div class="row p2">
			<h2>Ajouter un utilisateur :
			</h2>
			<a class="btn btn-primary col-2 mx-auto" href="{{ path('user_new') }}">Ajouter un utilisateur
			</a>
		</div>
		<div class="row p2">
			<h2>Utilisateurs :
			</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Utilisateur</th>
						<th scope="col">Email</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>
								<i class="fas fa-user-circle text-secondary"></i>
								{{user.username}}</td>
							<td>
								{{user.email}}</td>
							<td class="d-flex">
								<a class="btn mx-3" href="{{ path('user_edit', {'id': user.id}) }}">
									<i class="fas fa-user-edit text-primary"></i>
								</a>
								{% if not (user.email == urlAdmin) %}
									{{ include('user/_delete_form.html.twig') }}
								{% endif %}
							</td>
						</tr>
					{% else %}
						<div class="col-12">
							<p>Aucun utilisateur</p>
						</div>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
