{% extends 'base.html.twig' %}

{% block title %}myVideoPlayer || Liste des Utilisateurs
{% endblock %}

{% block body %}
	<div class="d-grid gap-3">
		<div class="row text-center pt-3 pb-3 border-bottom bg-secondary text-white shadow">
			<h2>Gestion des Utilisateurs</h2>
		</div>
		<div class="row text-center pt-3 pb-3 border-bottom">
			<h3 class="pb-2 text-decoration-underline">Ajouter un utilisateur :
			</h3>
			<a class="btn btn-primary col-1 mx-auto rounded-lg shadow" href="{{ path('user_new') }}">
				<i class="fas fa-plus text-white fa-lg"></i>
			</a>
		</div>
		<div class="row text-center pt-3 pb-3">
			<h3 class="pb-2 text-decoration-underline">Liste des Utilisateurs :
			</h3>
			<div class="row mt-2 mb-4">
				{{ form_start(formUser) }}
				<div class="my-custom-class-for-errors">
					{{ form_errors(formUser) }}
				</div>
				<div class="row g-3 align-items-center">
					<div class="col-lg-2 col-sm-12">
						{{ form_label(formUser.search,'Rechercher  : ', {'attr': {'class': 'form-label'}}) }}
					</div>
					<div class="col-lg-8 col-sm-10">
						{{ form_widget(formUser.search, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
				{{ form_end(formUser) }}
			</div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Utilisateur</th>
						<th scope="col">Email</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>
								{{ user.username }}
							</td>
							<td>
								{{ user.email }}
							</td>
							<td class="d-flex justify-content-evenly">
								<a class="btn" href="{{ path('user_edit', {'id': user.id}) }}">
									<i class="fas fa-user-edit fa-lg text-success"></i>
								</a>
								{% if not (user.email == urlAdmin) %}
									<a class="btn js-delete" href="{{ path('user_delete', {'id': user.id}) }}">
										<i class="fas fa-trash fa-lg text-danger"></i>
									</a>
								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td>Aucun utilisateur</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="/js/user-search.js"></script>
	<script src="/js/user-delete.js"></script>
	<script src="/js/alert-animation.js"></script>
{% endblock %}
